management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8083

spring:
  boot:
    admin:
      client:
        url: http://localhost:8081
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/lab2?serverTimezone=GMT%2B8
    username: root
    password: qzqz111
    type: com.alibaba.druid.pool.DruidDataSource
    initialization-mode: always
    schema: classpath:lab4schema.sql.sql
    data: classpath:lab4data.sql
    druid:
      #初始化时建立物理连接的个数
      initial-size: 3
      #最小连接池数量
      min-idle: 3
      #最大连接池数量
      max-active: 100
      #获取连接时最大等待时间
      max-wait: 60000
      #配置监控页面访问登录名及密码
      stat-view-servlet:
        login-username: admin
        login-password: 670811
        enabled: true
        url-pattern: /druid/*

      filter:
        stat:
          #是否开启慢sql查询监控
          log-slow-sql: true
          #慢SQL执行时间
          slow-sql-millis: 100
      validation-query: select 1
    sql-script-encoding: UTF-8
  redis:
    database: 0
    host: localhost
    port: 6379
    timeout: 5000
    password:
    


mybatis:
  #domain对象的包
  type-aliases-package: cn.edu.xmu.restfuldemo.bean
  #mapper.xml所在的位置
  mapper-locations: classpath:cn.edu.xmu.restfuldemo.mapper/*.xml
  #自动将SQL中查出来的带下划线的字段，转换为驼峰标志，再去匹配类中的属性
  configuration:
    #输出产生的SQL
    #log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: false

